platform:
  - x64

image: Visual Studio 2017

branches:
  except:
    - gh-pages

clone_folder: C:\projects\ci-detector

cache:
  - C:\tools\php -> .appveyor.yml

init:
 - SET PHP=1
 - SET PATH=C:\tools\php;%PATH%

install:
  - IF EXIST c:\tools\php (SET PHP=0)
  - IF %PHP%==1 cinst -y OpenSSL.Light
  - IF %PHP%==1 cinst -y php --params "/InstallDir:C:\tools\php" # we do not use -version to specify exact version, but we rather try the latest available
  - cd C:\tools\php
  - IF %PHP%==1 copy php.ini-production php.ini /Y
  - IF %PHP%==1 echo extension_dir=ext >> php.ini
  - IF %PHP%==1 echo extension=php_openssl.dll >> php.ini
  - IF %PHP%==1 echo extension=php_mbstring.dll >> php.ini
  - cd %APPVEYOR_BUILD_FOLDER%
  - appveyor DownloadFile https://getcomposer.org/composer-stable.phar
  - php composer-stable.phar update --no-interaction --no-progress

before_test:
  - cd %APPVEYOR_BUILD_FOLDER%\
  - php dump-current.php
  - SET APPVEYOR=0 # Reset the variable to not interfere with tests
  - ps: $env:APPVEYOR_PULL_REQUEST_NUMBER = '' # Reset the variable to not interfere with tests

test_script:
  - cd %APPVEYOR_BUILD_FOLDER%\
  - vendor/bin/phpunit --colors=always

after_test:
  - SET # list current environment variables

build: false # disable build step (we only run tests)
